<footer>
    <p>
        Copyright &copy Bike Stories 2021
    </p>
    <div class="social">
        <i class="icon-twitter"></i>
        <i class="icon-youtube"></i>
        <i class="icon-instagram"></i>
        <i class="icon-mail"></i>
    </div>
    
</footer>