<nav>
    <div class="site-title">
        <a href="/"><h1>Bike Stories</h1></a>
        <p>Riding experiences will never be forgotten</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
        <li><a href="/blogs/contact">Contact Us</a></li>
    </ul>
</nav>