<!DOCTYPE html>
<html lang="en">
<!-- Including the head component -->
<%- include('./partials/head.ejs') %> 
<body>

    <!-- Including the nav component -->
    <%- include('./partials/nav.ejs') %>

    <h2 class="section-title">OOPS, page not found :(</h2>
    <div class="main-container">
        <div class="not-found content">
            <div class="pic-container">
                <img src="imgs/stolen-bike.jpg" class="about-pic" alt="about-pic">
            </div>
        </div>
    </div>

    <!-- Including the footer component -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>