<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <%- include('./partials/title.ejs') %>
    
    <div class="main-container">
        <div class="about content">
        
            <div class="pic-container">
                <img src="imgs/biking.jpg" class="about-pic" alt="about-pic">
            </div>

            <p>Hi Folks, After six years of written interviews and stories and blog posts and one year of podcasting, it’s time to close the book on The Bicycle Story. I launched this project on Nov 1. 2010 with an interview with Stevil Kinevil. 
                I wasn’t sure exactly what the path forward would be for the site, but the late 2000s bike culture boom was reaching its peak and there were a seemingly endless number of fascinating characters in the bike world about whom I wanted to know more. 
                Luckily, it turned out there were lots of readers who were also interested in the lives of bike racers, adventurers, advocates, industry insiders, dirt bags and wild women and men.
            </p>
            <p>
                Over the years, the site grew beyond my expectations and gave me the opportunity to interview so many awesome individuals. Adonia Lugo, Oboi Reed, Ed Ewing and many others illuminated how race and class can remain barriers to cycling. 
                Jeremy Powers and Stephen Hyde and Mo Bruno Roy gave readers a glimpse into what it takes to perform at the highest levels of the sport. Artists and artisans such as Brian Vernor and Martina Brimmer shared their craft. 
                Adventurers such as Nick Carman, Jill Homer, and Alastair Humphreys took us along on their rides to the far corners of the globe.
            </p>
            <p>
                When I launched the podcast last year, my intentions were threefold: breath some new life into the site, give myself an opportunity to experiment with podcasting, and create a revenue-generating product. The first two items were grand successes. 
                The latter, much less so. In order for podcast sponsorship to work, the podcast needs a fairly large listenership. My hope was to sustain the podcast through listener support via Patreon pledges while building up a sponsorship-worthy audience. 
                Unfortunately neither really happened. There were a handful of extremely generous listeners who made pledges and helped keep the project going for as long as it did. I am eternally grateful for their kindness and support! 
                But ultimately the Patreon base and the overall audience remained fairly stagnant over time and never reached the sort of sustainability I needed.
            </p>
            <p>
                I realize this might sound like sour grapes, but I promise you it’s not! I recognize there were plenty of things I did (or didn’t do) to help the podcast reach its full potential. 
                More importantly, I am deeply humbled and have nothing but gratitude for all The Bicycle Story’s readers and listeners and supporters and interviewees over the years. It’s been a fantastic and satisfying ride.
                Though there won’t be any new interviews or episodes on The Bicycle Story from here on out, the site will remain online. You can help me offset hosting costs (and clear out my closet!) by picking up a Bicycle Story tee from the shop. 
                They’re deeply discounted right now and shipping is free anywhere in the U.S.
                So once again, thank you to all the amazing people who shared their stories over the years. 
                And thank you to all the readers and listeners for your support. 
                The Bicycle Story could not have existed without you.
                
                All my best,
                Guido.
            </p>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>